body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(25% - 2rem);
    padding: 1rem;
    text-align: center;
}

.card img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.card p {
    font-size: 0.9rem;
    color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.pagination a {
    text-decoration: none;
    color: #007BFF;
    padding: 0.5rem 0.75rem;
    border: 1px solid #007BFF;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #007BFF;
    color: #fff;
}

.pagination .active {
    background-color: #007BFF;
    color: #fff;
    
}

.pagination .arrow {
    font-size: 1.2rem;
}